<div ng-controller="DashboardCtrl">
  <div ng-include="'topnav.htm'"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>List of your friends {{global}}</h1>
        <div>
          <p class="loader-small" ng-show="!!!myFriends"></p>
          <div class="animate-show-left" ng-show="!!myFriends">
          <ul>
            <li ng-repeat="f in myFriends">
              {{f.name}}
            </li>
          </ul>    
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>list of their books</h2>
        <p class="loader loader-small" ng-show="!friendsBooks.length"></p>
        <div ng-show="friendsBooks.length" class="animate-show-left">
          <ul>
            <li ng-repeat="fb in friendsBooks">{{fb.friend.name}} : {{fb.book.name}} : <img ng-src="{{fb.bookPage.cover.source}}" style="width:50px" alt=""> : <a href="{{fb.bookPage.link}}">Book</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>