<div ng-controller="DashboardCtrl">
  <div ng-include="'topnav.htm'"></div>
  <div class="container">

    <div class="row">
      
      <div class="col-sm-12">
        <h2>list of books</h2>
        <p>Getting data from the server...</p>
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="b in books">
              <td>{{b.id}}</td>
              <td>{{b.name}}</td>
              <td>{{b.author}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h1>me</h1>
        <p class="loader-small" ng-show="!!!me"></p>
        <p ng-show="!!me" class="animate-show-left">
          <ul>
            <li ng-repeat="(d,m) in me">
              {{d}} : {{m}}
            </li>
          </ul>
        </p>
        
        <h1>List of your friends</h1>
        <div>
          <p class="loader-small" ng-show="!!!myFriends"></p>
          <ul ng-show="!!myFriends">
            <li ng-repeat="f in myFriends">
              {{f.name}}
            </li>
          </ul>  
        </div>
      </div>
      <div class="col-sm-6">
        <h2>list of their books</h2>
        <ul>
          <li ng-repeat="fb in friendsBooks">{{fb.friend.name}} : {{fb.book.name}} : <img ng-src="{{fb.bookPage.cover.source}}" style="width:50px" alt=""> : <a href="{{fb.bookPage.link}}">Book</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>