<div ng-controller="LibraryCtrl">
  <div ng-include="'topnav.htm'"></div>
  <div ng-show="!!!isBooksReady">
    <div class="loader-small-wrapper">
      <p class="loader loader-small"></p>
    </div>
    <p class="loader-small-text">loading</p>
  </div>
  <div>
    <div class="animate-show-left" ng-show="!!isBooksReady" style="padding:0 12px">
      <div class="row">
        <div class="col-sm-8">
          <div class="inner">
            <div class="scroll-wrap" scroller fullheight  style="height:500px">
              <div class="js-scroll-inner">
                <table class="mytable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Author</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="b in books">
                      <td>{{b.name}}</td>
                      <td>{{b.author}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-6">
              <div class="inner">
                <h2>Friend Book</h2>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="inner">
                <h2>Friend Book</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--       <div class="row">
        <div ng-show="mainData.length" class="animate-show-left">
          <ul class="no-bullets light-list">
            <li ng-repeat="d in mainData">
              <ul style="padding-left:20px;">
                <li ng-repeat="b in d.books">
                  <style>
                  
                    .my-col {
                      float:left;
                      width:321;
                    }
                    .inner-book {
                      border: 1px solid #e5e6e7;
                      height: 256px;
                      padding: 5px;
                      margin: 4px;
                    }
                    .book-title {
                      background-color: #000;
                      padding: 8px;
                      height: 37px;
                      font-weight: 500;
                    }
                    .book-friend {
                      padding: 2px;
                      background: #000;
                    }
                  </style>
                    <div class="my-col">
                      <div class="inner-book">
                        <div class="book-title">
                          <div>
                            <a href="{{b.bookPage.link}}">{{b.data.name}}</a>
                          </div>
                        </div>
                        <div>
                          <div>
                            <img  src="{{b.bookPage.cover.source}}" resize w="300" h="170" alt="">
                          </div>
                        </div>
                        <div class="fix-float book-friend">
                          <div class="pull-left"><img style="width:35px" src="{{d.friend.picURL}}" alt=""> </div><div style="padding: 5px 0 0 5px" class="pull-left">{{d.friend.data.name}} </div> 
                        </div>
                      </div>
                    </div>
                    <div ng-if="$index === 1" class="clearfix"></div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>