<div ng-controller="LibraryCtrl">
  <div ng-include="'topnav.htm'"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>List of your friends </h1>
        
        <div>
          <p class="loader-small" ng-show="!!!myFriends"></p>
          <div class="animate-show-left" ng-show="!!myFriends">
          <ul>
            <li ng-repeat="f in myFriends">
              {{f.name}}
            </li>
          </ul>    
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <h2>See what books your friend likes</h2>
        <p class="loader loader-small" ng-show="!mainData.length"></p>
        <div ng-show="mainData.length" class="animate-show-left">
          <ul>
            <li ng-repeat="d in mainData">
              {{d.friend.name}}: 
              <ul style="padding-left:20px">
                <li ng-repeat="b in d.books">
                  {{b.name}}
                </li>
              </ul>
            </li>
          </ul>
          <!-- <table class="mytable">
            <tbody>
              <tr ng-repeat="fb in mainData">
                <td>{{fb.friend.name}}</td>
                <td>{{fb.book.name}}</td>
                <td> <a href="{{fb.bookPage.link}}"><img ng-src="{{fb.bookPage.cover.source}}" style="width:50px" alt=""></a> </td>
              </tr>
            </tbody>
          </table> -->
          
        </div>
      </div>
    </div>
  </div>
</div>