<div class="coxntainer" ng-show="!isLoggedin">
	<nav class="top-nav">
		<a href="/"> <img src="img/logo.png" alt=""> </a>
		<div class="pull-right inverted-list">
			<a ng-click="loginWithFB()" class="pull-right btn btn-primary" href>Log in <span class="glyphicon-facebook"></span></a>
		</div>
	</nav>
</div>

<nav class="top-nav-app" ng-show="isLoggedin" style="background-color:  {{activePage === '' ? 'transparent' : ''}}">
	<div class="contxainer">
		<!-- <a href="/"> <img src="img/logo.png" alt=""> </a> -->
		<div class="pull-left inverted-list">
			<a href="/#/library" class="pull-left"><img src="{{myPicture}}" class="animate-show-left profile-picture-small" ng-show="myPicture" alt="Profile Picture"></a>
			<span class="pull-left" style="padding: 5px 0 0 10px">{{firstName}}</span>
			
		</div>
		<div class="pull-right inverted-list">
			<ul class="listz-loose fs-5">
				<li><a tip="Logout" placement="bottom" ng-click="logout()" href><span icon="power-clean" class="ricon"></span></a></li>
			</ul>
		</div>
	</div>
</nav>