<div class="container">
	<nav class="top-nav">
		<a href="/"> <img src="img/logo.png" alt=""> </a>
		<div class="pull-right">
			<a ng-show="isLoggedin" class="btn btn-primary" href="/#/dashboard">dashboard</a>
			<a ng-show="!isLoggedin" ng-click="loginWithFB()" class="btn btn-primary" href>Log in with Facebook</a>
			<a ng-show="isLoggedin"  ng-click="logout()" class="btn btn-primary" href>Log out</a>
			<a href="/#/profile"><img src="{{myPicture}}" ng-show="myPicture" style="width:32px" alt="Profile Picture"></a>
		</div>
	</nav>

</div>