/*
*/
@font-face {
  font-family: "quisio";
  src: url("quisio/quisio.eot");
  src: url("quisio/quisio.eot?#iefix") format("embedded-opentype"), url("quisio/quisio.woff") format("woff"), url("quisio/quisio.ttf") format("truetype"), url("quisio/quisio.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.glyphicon,
.glyphicon-home,
.glyphicon-library,
.glyphicon-address-book,
.glyphicon-user,
.glyphicon-facebook,
.glyphicon-book,
.glyphicon-power,
.glyphicon-books,
.glyphicon-lock,
.glyphicon-friends,
.glyphicon-menu,
.glyphicon-books2,
.glyphicon-power-clean {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "quisio";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-home:before {
  content: "\e006";
}
.glyphicon-library:before {
  content: "\e005";
}
.glyphicon-address-book:before {
  content: "\e00c";
}
.glyphicon-user:before {
  content: "\e000";
}
.glyphicon-facebook:before {
  content: "\e008";
}
.glyphicon-book:before {
  content: "\e00b";
}
.glyphicon-power:before {
  content: "\e001";
}
.glyphicon-books:before {
  content: "\e00a";
}
.glyphicon-lock:before {
  content: "\e004";
}
.glyphicon-friends:before {
  content: "\e007";
}
.glyphicon-menu:before {
  content: "\e003";
}
.glyphicon-books2:before {
  content: "\e009";
}
.glyphicon-power-clean:before {
  content: "\e002";
}
