.welcome {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	color: @mywhite;
	padding-top: 11%;
	font-size: 46px;
	opacity: 0.7;
}
.welcome-sub {
	width: 46%;
	margin: 0 auto;
	font-size: 21px;
}
.home-bg {
	background: url('../img/bg.png') no-repeat;
	background-size: cover;
	color: white;
	.smooth(all);
}

.dash-bg {
	background-color: #164966;
	color: @mywhite;
}

.search-area {
	padding:10px 0 25px 21px;
	background-color: #e5e6e7;
}

.top-nav {
	padding: 10px;
	padding-bottom: 20px;
	margin-top: 40px;
}

.top-nav-app {
	background-color: @myblack;
	height: 50px;
}
// ---------


blockquote {
	margin: 0;
	padding: 10px;
	border-left: 1px solid #0094ff;
	border-right: 1px solid #0094ff;
	background-color: #eee;
	line-height: 1.5em;
	color: #0082e0;
}

blockquote[min-height~="75px"] {
    padding: 1em 3em;
    border-left: 0;
    border-right: 0;
    border-top: 5px solid #74bd0a;
    border-bottom: 5px solid #74bd0a;
    color: #619b0d;
}

h1 {
    font-size: 1.25em;
}

p {
    margin: 0 0 1em;;
}

code {
    padding: 0.25em 0.5em;
    color: #000;
    background-color: #f9f9f9;
}

