// app page specific
.home-promo {
	margin-top:173px;
}
.home-title {
	text-align: center;
	padding: 60px 0;
	font-size: 3em;
	margin-bottom: 68px;
	margin-top: 38px;
	border-bottom: 1px solid @light-gray1;
}
.home-promo-text {
	padding: 20px 0 0 35px;
	font-size: 23px;
}
.home-footer {

	background-color: #40557a;
	color: #283D63;
	padding: 84px 240px;
	font-size: 23px;
	text-shadow: 0px -1px 0px #000000, 0px 1px 0px #6785B9;
}
.welcome {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	color: @mywhite;
	padding-top: 11%;
	font-size: 46px;
	opacity: 0.7;
	width: 50%;
	margin : 0 auto;
}
.welcome-sub {
	width: 46%;
	margin: 0 auto;
	font-size: 21px;
}
.home-bg {
	background: url('../img/bg.png') no-repeat;
	background-size: cover;
	color: white;
	.smooth(all);
}

.dash-bg {
	background-color: @color2;
	color: @mywhite;
}

.search-area {
	padding:10px 0 25px 21px;
	background-color: #e5e6e7;
}

.top-nav {
	padding: 0 70px;
	padding-bottom: 20px;
	padding-top: 50px;
}

.top-nav-app {
	background-color: @color1;
	height: 60px;
	padding: 12px;
}

.active-nav {
	color: @color3;
}

.profile-picture {
	.circle();
}
.profile-picture-small {
	&:extend(.profile-picture);
	width: 30px;
}
.profile-picture-large {
	&:extend(.profile-picture);
	width: 60px;
}
// ---------
// library
.inner {
  margin-top: 15px;
  padding: 15px;
  background: @color3;
  border-radius: 4px;
  border: 1px solid @color1;
}
//