// overall theme of the app.
.top-nav-app {
	background-color: @color2-1;
}
.top-nav-app-loggedin {
	background-color: transparent;
	border: none;
	padding: 32px 80px;
}
.sidebar {
	background: @color2-1;
	border-right: 1px solid @color2-4;
}

.dash-bg {
	background-color: @color2-3;
	color: @mywhite;
}

.mytable {
	thead {
		background-color: @color2-1;
		color: @color2-5;
	}
	tr {
		&:hover {
			background-color: @color2-2;
			cursor: pointer;
			tr {
				color: red;
			}
		}
	}
	td {
		color: @color2-1;
	}
}
.inner { 
	background: @color2-5;
	color: @color2-1;
		font-family: 'Source Sans Pro', sans-serif;
	h2 {
		padding-bottom: 10px;
	}
}